body {
    font-family: publicpixelFont;
    background-color: #f0f0f0;
    text-align: center;
}

header {
    background-color: #ffffff;
    color: #000000;
    padding: 10px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    font-family: pixeboyFont;
    font-size: 80px;
}

.crypto-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}

.crypto-card {
    border: 1px solid #ccc;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.container {
    position: relative;
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.character {
    width: 50px;
    height: 50px;
    background-color: red;
    position: absolute;
    bottom: 0;
    left: 0;
}

.option {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
}



@font-face {
    font-family: pixeboyFont;
    src: url('../fonts/pixeboy/Pixeboy-z8XGD.ttf') format('truetype');
}

@font-face {
    font-family: publicpixelFont;
    src: url('../fonts/publicpixel/PublicPixel-z84yD.ttf') format('truetype');
}